
    body {
        background-color:#5FD068;
    }

    hr {
       border-color: red;
       background-color: #5FD068;
        border-style:none;
        border-top-style: dotted;
        border-width: 5px;
        width: 50%;
        
    }
