
    body {
        background-color:#8905ee;
    }

    hr {
       border-color: darkgreen;
       background-color: #8905ee ;
        border-style:none;
        border-top-style: dotted;
        border-width: 5px;
        width: 50%;
        
    }
